Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
libtool
.deps
stamp-h
stamp-h.in
config.sub
config.guess
*-stamp
*.tar.gz
depcomp
install-sh
ltmain.sh
missing
*.a
*.o
