Source: dudlc
Section: sound
Priority: optional
Maintainer: Rainer Clasen <bj@zuto.de>
Build-Depends: debhelper (>> 3.0.0), liblircclient-dev, libreadline-dev, libgtk2.0-dev
Standards-Version: 3.5.2

Package: libdudlc-dev
Section: devel
Architecture: any
Depends: libdudlc0 (= ${Source-Version})
Description: dudl jukebox client library - development files
 The dudl jukebox is a network oriented MP3 server you can connect to with
 multiple clients.
 .
 This package contains files to build your own client using the dudl
 client library.

Package: libdudlc0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: dudl jukebox client library
 The dudl jukebox is a network oriented MP3 server you can connect to with
 multiple clients.
 .
 This package contains the client library that implements a C api for the
 network protocol.

Package: dudl-client
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Description: command line client for dudl jukebox
 The dudl jukebox is a network oriented MP3 server you can connect to with
 multiple clients.
 .
 This client uses readline to implement a comfortable textmode client for
 the dudl jukebox.

Package: dudl-gtk
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Description: GTK client for dudl jukebox
 The dudl jukebox is a network oriented MP3 server you can connect to with
 multiple clients.
 .
 This client offers a graphic GTK interfce.

Package: dudl-lirc
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Description: lirc client for dudl jukebox
 The dudl jukebox is a network oriented MP3 server you can connect to with
 multiple clients.
 .
 This client uses LIRC to decode commands from a remote control and
 interface with the dudl jukebox.
